.subscribeCover{
	background-image: url(../img/subscribe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subscribe{
	font-family: 'GillSans-Regular';
	color: #fff;
	padding: 20px 0;
	@media only screen and (max-width: 575px) {
		text-align: center;
	    width: 300px;
	    margin: 0 auto;
	}
	.subscribe__title{
		font-size: 30px;
		@media only screen and (max-width: 1200px) {
			font-size: 24px;
		}
		.subscribe__title_style{
			font-size: 25px;
			display: block;
			@media only screen and (max-width: 1200px) {
				font-size: 16px;
			}
		}
	}
	.subscribe__subTitle{
		font-size: 13px;
	}
}
.subscribe__block_form{
	@media only screen and (max-width: 575px) {
		text-align: center;
	}
	.subscribe_input{
		background: transparent;
	    border: 3px dashed #d6cfcf;
	    width: 340px;
	    height: 55px;
	    border-radius: 50px;
	    padding-left: 20px;
	    outline: none;
	    color: #fff;
	    @media only screen and (max-width: 1200px) {
			width: 295px;
		}
		@media only screen and (max-width: 769px) {
			width: 265px;
		}
	}
	 ::-webkit-input-placeholder { 
		  color: #fff;
		}
		::-moz-placeholder {
		  color: #fff;
		}
		:-ms-input-placeholder { 
		  color: #fff;
		}
		:-moz-placeholder {
		  color: #fff;
		}
}
.subscribe_button{
	background: #83bd46;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    width: 210px;
    height: 55px;
    border-radius: 30px;
    float: right;
    @media only screen and (max-width: 991px) {
	    float: none;
	    margin: 0 auto;
	    justify-content: space-around;
	    display: block;
	    margin-bottom: 35px;
	}
	@media only screen and (max-width: 575px) {
	   margin-top: 20px;
	}
}


                                                      //MODAL FORM


#modal_form, #gratitude_form  {
    width: 450px;
    position: fixed;
    display: none;
    opacity: 1;
    z-index: 10;
    padding: 10px;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    background-image: url('../img/modal_form.png');
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: 600px) {
    	width: 410px;
    }
    @media only screen and (max-width: 455px) {
    	width: 315px;
    }
    	.in-touch-form{
    		.callbackBlock__form{
    			top: 0;
    			width: 100%;
    			padding: 20px;
    			@media only screen and (max-width: 767px) {
					margin: 0;
			    }
    		}
    		.modalForm__title{
    			color: #666C6C;
			    font-family: 'GillSans-Bold';
			    text-transform: uppercase;
			    position: relative;
			    font-size: 25px;
			    margin-top: 45px;
			    text-align: center;
			    @media only screen and (max-width: 455px) {
    				font-size: 28px;
    			}
    		}
    		.modalForm__subTitle{
    			max-width: 350px;
			    text-align: center;
			    margin: 0 auto;
			    font-size: 17px;
			    padding-bottom: 10px;
			    font-family: 'GillSans-Light';
			    color: #666C6C;
			    @media only screen and (max-width: 455px) {
			    	font-size: 13px;
			    }
			    @media only screen and (max-width: 400px) {
					max-width: 280px;
				}
    		}
    		.modalForm__form{
    			width: 380px;
			    display: block;
			    background-color: white;
			    position: relative;
			    top: -25px;
			    padding: 10px 20px;
			    margin-top: 10px;
			    @media only screen and (max-width: 600px) {
			    	width: 380px;
			    }
			    @media only screen and (max-width: 500px) {
			    	width: 320px;
			    }
			    @media only screen and (max-width: 455px) {
			    	width: 290px;
					padding: 5px 20px 10px 20px;
			    }
				    .modalForm__name,
				    .modalForm__number,
				    .modalForm__mail{
				    	display: block;
			    		width: 350px;
					    height: 45px;
					    border: 1px dashed gray;
					    border-radius: 20px;
					    font-family: 'GillSans-Light';
					    outline: none;
					    margin: 10px 0;
					    padding-left: 10px;
					    @media only screen and (max-width: 600px) {
					    	width: 310px;
					    }
					    @media only screen and (max-width: 455px) {
					    	width: 255px;
					    }
				    }
				    .modalForm__button{
			    	    background: #83bd46;
					    color: #fff;
					    text-transform: uppercase;
					    font-family: 'GillSans-Regular';
					    font-weight: bold;
					    font-size: 20px;
					    border: none;
					    width: 185px;
					    height: 55px;
					    border-radius: 30px;
					    margin: 10px 70px;
					    @media only screen and (max-width: 600px) {
					    	margin: 0 auto;
		    				margin-top: 15px;
		    				width: 310px;
					    }
					    @media only screen and (max-width: 455px) {
					    	width: 255px;
					    }
					    @media only screen and (max-width: 500px) {
					    	width: 240px;
					    }
					    	&:hover{
							    -webkit-transition: 2s;
							    -o-transition: 2s;
							    transition: 2s;
							    background-color: rgb(255, 255, 255);
							    border: 3px solid rgb(130, 189, 70);
							    outline: none;
							    color: #4e4e4e;
						    }
						    &:not(:hover){
						    	transition:2s;
						    }
				    }
	    		}
	    	}
}
#modal_form #modal_close,
#gratitude_form #gratitude_close {
   	width: 35px;
    height: 35px;
    position: absolute;
    top: -1px;
    right: 35px;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    background: #83bd46;
    border: 4px solid #fff;
    z-index: 7;
    text-align: center;
    opacity: 1;
    color: #fff;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(168,168,168,1);
	-moz-box-shadow: 0px 5px 16px 0px rgba(168,168,168,1);
	box-shadow: 0px 5px 16px 0px rgba(168,168,168,1);
	@media only screen and (max-width: 400px) {
		right: 0;
 	}
	   .fa-times {
	    	margin: 0;
	 	}
}
#overlay {
	z-index:7; 
	position:fixed; 
	background-color:#000; 
	opacity:0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	cursor:pointer;
	display:none; 
}
#gratitude_form {
	background: rgba(38, 66, 8, 0.65);
	width: 350px;
    height: 350px;
    border-radius: 300px;
	.callbackBlock__form{
		h3{
			color: #fff;
			font-family: 'GillSans-Bold'; 
			text-align: center;
			margin-top: 35%;
			color: #83bd46;
		    @media only screen and (max-width: 455px) {
				font-size: 28px;
			}
		}
		p{
			color: #fff;
			text-align: center;
			font-family: 'GillSans-Light'; 
			padding-bottom: 25px;
		}
	}
}
 #gratitude_form #gratitude_close{
 	background: rgba(122, 137, 109, 0.9607843137254902);
    color: rgba(255, 255, 255, 0.788235294117647);
    top: 23px;
    right: 10px;
    width: 65px;
    height: 65px;
    border-radius: 52px;
    border: 4px solid #79886d;
    .fa{
    	font-size: 35px;
    	padding: 10px 0px 0 0;
    	&:hover{
    		color: #83bd46;
    	}
    }
 }


