.change_password{
	margin-bottom: 65%;
	.change_password__block{
		display: block;
		width: 60%;
		margin: 0 auto;
		position: relative;
		 @media only screen and (max-width: 991px) {
			width: 80%;
		}
		@media only screen and (max-width: 767px) {
			width: 75%;
		}
		@media only screen and (max-width: 500px) {
			width: 100%;
		}
		.change_password__input{
			display: block;
		    outline: none;
		    width: 80%;
		    height: 45px;
		    border-radius: 30px;
		    background-color: #FAFAFA;
			border: 1px solid #F0EFEF;
		    margin: 20px auto;
		    padding-left: 35px;
		    font-size: 14px;
		    position: relative;
		    font-family: 'GillSans-Regular'; 
		    @media only screen and (max-width: 767px) {
				width: 100%;
			}
		}
		.change_password__cover{
			position: relative;
			i{
		    	color: #e2e2e2;
			    position: absolute;
			    top: 14px;
			    left: 63px;
			    font-size: 16px;
			    z-index: 4;
			    @media only screen and (max-width: 1200px) {
			        left: 55px;
			  	}
			  	@media only screen and (max-width: 767px) {
					 left: 15px;
				}
	    	}
	    }
		.change_password__button{
		    width: 50%;
		    height: 45px;
		    border-radius: 30px;
		    border: none;
		    color: white;
		    font-size: 18px;
		    text-transform: uppercase;
		    display: block;
		    margin: 30px auto;
		    transition:1.5s;
		    &:hover{
		    	background: #81bd46;
		    }
		}
	}
}