.comingSoon_background{
	background-image: url(../img/zaglushka.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;

}
.comingSoon_content{
	text-align: center;
    margin-top: 10%;
     @media (max-width: 1024px) and (max-height: 1440px) {
        margin-top: 40%;
    }
    @media (max-width: 1024px) and (max-height: 768px) {
        margin-top: 20%;
    }
     @media (max-width: 824px) and (max-height: 415px) {
        margin-top: 0%;
    }
     @media (max-width: 768px) and (max-height: 1440px) {
        margin-top: 50%;
    }
     @media (max-width: 768px) and (max-height: 1024px) {
        margin-top: 40%;
    }
     @media (max-width: 736px) and (max-height: 414px) {
        margin-top: 2%;
    }
     @media (max-width: 667px) and (max-height: 375px) {
        margin-top: 1%;
    }
    
    .header__logoImg{
    	width: 400px;
        @media only screen and (max-width: 400px) {
            width: 320px;
        }
    }
    .comingSoon_knowMore{
	   	margin-top: 70px;
	    color: white;
	    font-size: 18px;
	    font-family: 'GillSans-Bold';
         @media (max-width: 568px) and (max-height: 320px) {
           margin-top: 30px;
        }
    }
    .subscribe__block_form_comingSoon{
        position: relative;
    	.subscribe_button{
    		float: none;
    		margin-left: 20px;
            @media only screen and (max-width: 991px) {
                display: inline-block;
            }
            @media only screen and (max-width: 550px) {
                display: block;
                margin: 30px auto;
            }
    	}
    }
    .social__block_comingSoon{
    	margin-top: 10%;
         @media only screen and (max-width: 767px) {
            display: block;
        }
         @media (max-width: 824px) and (max-height: 415px) {
           margin-top: 5%;
        }
         @media (max-width: 568px) and (max-height: 320px) {
           margin-top: 0%;
        }
    }
}

