.news_borderLine{
	border-bottom: 1px solid #c8c8c8;
}
.news_container{
	@media only screen and (max-width: 576px) {
		text-align: center;
	}
	.news_photoCover{
		max-width: 260px;
	    max-height: 170px;
	    overflow: hidden;
	    margin-bottom: 10px;
	    @media only screen and (max-width: 576px) {
			margin: 0 auto;
		}
		.news_photo{
			width: 100%;
			&:hover{
				transform:scale(1.5);
				transition:2s;
				cursor: pointer;
			}
			&:not(:hover){
	    		transition:2s;
	    	}
		}
	}
	.newsTitle{
		font-family: 'GillSans-Bold';
	    font-size: 18px;
	    text-decoration: none;
	    color: #323232;
	    &:hover{
	    	color: #82bd46;
	    	transition:1.5s;
	    }
	    &:not(:hover){
	    	transition:1.5s;
	    }
	}
	.newsDate{
		font-family: 'GillSans-Light';
	    font-size: 14px;
	    margin: 5px 0;
	    color: #7e7e7e;
	}
	.newsDescription{
		font-family: 'GillSans-Regular';
	    color: #555555;
	      display: block;
		  display: -webkit-box;
		  max-width: 250px;
		  height: 60px;
		  margin: 0 auto;
		  font-size: 15px;
		  line-height: 1.3;
		  -webkit-line-clamp: 3;
		  -webkit-box-orient: vertical;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  margin-bottom: 20px;

	}
}

