@font-face {
  font-family: 'GillSans-Regular'; 
  src: url('../fonts/GillSans-Regular/GillSans-Regular/GillSans.eot'); 
  src: url('../fonts/GillSans-Regular/GillSans-Regular/GillSans.woff') format('woff'),
       url('../fonts/GillSans-Regular/GillSans-Regular/GillSans.ttf')  format('truetype'),
       url('../fonts/GillSans-Regular/GillSans-Regular/GillSans.svg') format('svg');
}

@font-face {
  font-family: 'GillSans-SemiBold'; 
  src: url('../fonts/GillSans-Regular/GillSans-Regular/GillSans-SemiBold.eot'); 
  src: url('../fonts/GillSans-Regular/GillSans-Regular/GillSans-SemiBold.woff') format('woff'),
       url('../fonts/GillSans-Regular/GillSans-Regular/GillSans-SemiBold.ttf')  format('truetype'),
       url('../fonts/GillSans-Regular/GillSans-Regular/GillSans-SemiBold.svg') format('svg');
}

@font-face {
  font-family: 'GillSans-Bold'; 
  src: url('../fonts/GillSans-Bold/GillSans-Bold/GillSans-Bold.eot'); 
  src: url('../fonts/GillSans-Bold/GillSans-Bold/GillSans-Bold.woff') format('woff'),
       url('../fonts/GillSans-Bold/GillSans-Bold/GillSans-Bold.ttf')  format('truetype'),
       url('../fonts/GillSans-Bold/GillSans-Bold/GillSans-Bold.svg') format('svg');
}

@font-face {
  font-family: 'GillSans-Light'; 
  src: url('../fonts/GillSans-Light/GillSans-Light/GillSans-Light.eot'); 
  src: url('../fonts/GillSans-Light/GillSans-Light/GillSans-Light.woff') format('woff'),
       url('../fonts/GillSans-Light/GillSans-Light/GillSans-Light.ttf')  format('truetype'),
       url('../fonts/GillSans-Light/GillSans-Light/GillSans-Light.svg') format('svg');
}

@font-face {
  font-family: 'GillSans-UltraBold'; 
  src: url('../fonts/GillSans-UltraBold/GillSans-UltraBold/GillSans-UltraBold.eot'); 
  src: url('../fonts/GillSans-UltraBold/GillSans-UltraBold/GillSans-UltraBold.woff') format('woff'),
       url('../fonts/GillSans-UltraBold/GillSans-UltraBold/GillSans-UltraBold.ttf')  format('truetype'),
       url('../fonts/GillSans-UltraBold/GillSans-UltraBold/GillSans-UltraBold.svg') format('svg');
}